/* PLAYER WRAPPER */
.player {
  margin: 25px auto;
  padding: 18px;
  max-width: 450px;

  display: flex;
  gap: 15px;
  align-items: center;

  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(14px);

  border-radius: 18px;

  border: 1px solid rgba(255,255,255,0.1);

  box-shadow: 0 20px 60px rgba(0,0,0,0.5);

  transition: 0.3s ease;
}

.player:hover {
  transform: translateY(-6px);
  box-shadow: 0 25px 70px rgba(56, 189, 248, 0.2);
}

/* ART */
.player-art img {
  width: 110px;
  height: 110px;

  border-radius: 14px;
  object-fit: cover;

  border: 2px solid #38bdf8;
  box-shadow: 0 0 20px rgba(56, 189, 248, 0.3);

  transition: 0.3s ease;
}

.player:hover .player-art img {
  transform: scale(1.05);
}

/* INFO */
.player-info {
  text-align: left;
}

.player-info h3 {
  margin: 0;
  font-size: 16px;

  color: #38bdf8;
}

.player-info p {
  margin: 6px 0;
  font-size: 13px;

  color: #cbd5e1;
}

/* AUDIO */
audio {
  width: 220px;
  margin-top: 6px;

  filter: drop-shadow(0 0 5px rgba(56, 189, 248, 0.4));
}