.player {
  margin: 20px auto;
  padding: 20px;
  width: 90%;
  max-width: 400px;

  background: rgba(30, 41, 59, 0.8);
  border-radius: 12px;

  display: flex;
  gap: 15px;
  align-items: center;

  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.player img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
}

.player-info {
  text-align: left;
}

.player-info h3 {
  margin: 0;
  font-size: 16px;
  color: #38bdf8;
}

.player-info p {
  margin: 5px 0;
  font-size: 14px;
  color: #cbd5e1;
}

audio {
  width: 200px;
  margin-top: 5px;
}